<div class="cont">
    <form [formGroup]='login' (ngSubmit)='submit(login)' *ngIf="showLoginForm">
        <label for="nick">Nickname</label>
        <input type="text" id="nick" formControlName='nickname'>
        <label for="pass">Password</label>
        <input type="password" id="pass" formControlName='password'>
        <input type="submit" value="Log In" class="submit">
        <span (click)='RegisterFormToggler()' class="register">Register</span>
    </form>
    <form [formGroup]='register' (ngSubmit)='reg(register)' *ngIf="showRegisterForm">
        <label for="nick">Nickname</label>
        <input type="text" id="nick" formControlName='nickname'>
        <label for="pass">Password</label>
        <input type="password" id="pass" formControlName='password'>
        <input type="submit" value="Register" class="submit">
        <span (click)='LoginFormToggler()' class="register">Log In</span>
    </form>
    <button (click)="logout()" *ngIf = 'showLogout'>Logout</button>
    <h1>Available Users(Use Admin access to add more data to homepage)</h1>
    <table>
        <tr>
            <td>Nickname</td>
            <td>Password</td>
        </tr>
        <tr>
            <td class='admin'>Admin</td>
            <td class='admin'>Admin</td>
        </tr>
        <tr *ngFor='let item of db'>
            <td>{{item.nickname}}</td>
            <td>{{item.password}}</td>
        </tr>
    </table>
</div>