.container{
    background-image: url('../../assets/bg.jpg');
    min-height: calc(100vh - 60px);
    background-size: cover;
    background-repeat: round;
}
h1{
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 20px;
}
.addCity{
    margin-bottom: 20px;
    justify-content: flex-start;
}
.inputs{
    width: 40%;
    display: flex;
    margin: 0 auto;
   
    input{
        display: block;
        font-size: 24px;
        padding-left: 5px;
        font-family: inherit;
    }
    input:nth-child(1){
        
        width: 70%;
    }
    input:nth-child(2){
        
        width: 30%;
    }
}
.output{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.data-table{
    width: 30%;
    background-color: #fff;
    margin-bottom: 20px;
}
.data-table table{
    border-collapse: collapse;
    width: 100%;
    tr{
        border: 2px solid black;
        th{
            font-weight: bold;
            font-size: 26px;
        }
        td{
            font-size: 22px;
            padding: 10px;
            text-align: center;
        }
        .attr{
            border-right: 2px solid black;
        }
} 

} 
@media screen and (max-width:920px){
    .data-table{
        width: 45%;
    }
    .inputs{
        width: 70%;
    }
}
@media screen and (max-width:650px){
    .data-table{
        width: 80%;
    }
    .cont{
        height: 100%;
    }
    .inputs{
        width: 90%;
    }
}
